.App{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
.AppHeader{
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 2px 32px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.centeredTitle {
  text-align: center;
  text-justify: center;
  margin: 0 auto;
}

.AppFooter{
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  padding: 20px 0 5px 0;
  background-color: #D3D3D3;
}
.footer-section{
  & p{
    opacity: .8;
    margin: 0;
    font-size: .9em;
    color: #161A1D;
  }
  .title{
    opacity: .9;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 1em;
  }
}
.footer-section.f1 table {
  margin: -2px 0;
  border-collapse: separate;
  border-spacing: 0;
  & td {
    font-size: .9em;
    color: #161A1D;
  }

}


.SideMenuAndPageContent{
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.05) ;
}
.SideMenu{
  height: 100%;
}
.SideMenuVertical{
  height: 100%;
}

.PageContent{
  padding-left: 12px;
  padding-top: 22px;
}
.pageContentHeader{
  display: flex;
}
.MultipleElementsInaRow{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0 20px 8px;
}


.menu-display-container {
  display: flex;
  flex-wrap: wrap;
}
.separator {
  margin: 20px 0 10px 10px;
}
.menu-card {
  flex: 0 0 calc(25% - 16px);
  margin: 8px;
  box-sizing: border-box;
}
.disabled-card {
  opacity: 0.5;
  pointer-events: none;
}
.menu-details{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.menu-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.submit-button {
  background-color: #FE6F5E;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}


.menu-controls button:hover {
  background-color: #0056b3;
}

.container {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  & h2 {
    text-align: center;
    color: #333;
  }

  .form-group {
    margin: 0 0 15px 35px;
  }

  & label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
  }

  & input {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
  }

  & button {
    width: 70%;
    padding: 10px;
    background-color: #FE6F5E;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s;
    margin: 0 0 0 35px;
  }

  & button:hover {
    background-color: #0056b3;
  }
}



.home-container {
  background-image: url("./assets/homepage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  min-width: 89.3vw;
  min-height: 73vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.home-container div {
  display: flex;
  justify-content: space-between;
  width: 40%;
}

.home-container button {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  flex: 1;
  margin: 0 10px;
  font-size: 1.2rem;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}